<% content_for :title, "Editing skill" %>

<h1>Editing skill</h1>

<%= render "form", skill: @skill %>

<br>

<div>
  <%= link_to "Show this skill", [:admin, @skill] %> |
  <%= link_to "Back to skills", admin_skills_path %>
</div>
