<% content_for :title, "Editing experience" %>

<h1>Editing experience</h1>

<%= render "form", experience: @experience %>

<br>

<div>
  <%= link_to "Show this experience", [:admin, @experience] %> |
  <%= link_to "Back to experiences", admin_experiences_path %>
</div>
